body {
    background-color: #222222;
     background: repeating-linear-gradient(
        45deg,
        #2b2b2b 0%,
        #2b2b2b 10%,
        #222222 0%,
        #222222 50%
      ) 
      0 / 15px 15px;
  }
  
  #container {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
  
  /*Neon*/
  h1 {
    text-align: center;
    font-size: 7em;
    margin-bottom: 0;
    margin-top: 0;
    line-height: 1;
    text-decoration: none;
    color: #fff;
  }
  
  h1:nth-child(1) {
    font-family: Monoton;
    animation: neon1 1.5s ease-in-out infinite alternate;
  }
  
  h1:nth-child(2) {
    font-family: Iceland;
    animation: neon2 1.5s ease-in-out infinite alternate;
  }
  
  h1:nth-child(3) {
    font-family: Pacifico;
    animation: neon3 1.5s ease-in-out infinite alternate;
  }
  
  h1:nth-child(4) {
    font-family: "Press Start 2P";
    animation: neon4 1.5s ease-in-out infinite alternate;
  }
  
  h1:nth-child(5) {
    font-family: Audiowide;
    animation: neon5 1.5s ease-in-out infinite alternate;
  }
  
  h1:nth-child(6) {
    font-family: Vampiro One;
    animation: neon6 1.5s ease-in-out infinite alternate;
  }
  
  /*glow*/
  
  @keyframes neon1 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff1177,
        0 0 70px #ff1177, 0 0 80px #ff1177, 0 0 100px #ff1177, 0 0 150px #ff1177;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff1177,
        0 0 35px #ff1177, 0 0 40px #ff1177, 0 0 50px #ff1177, 0 0 75px #ff1177;
    }
  }
  
  @keyframes neon2 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228dff,
        0 0 70px #228dff, 0 0 80px #228dff, 0 0 100px #228dff, 0 0 150px #228dff;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228dff,
        0 0 35px #228dff, 0 0 40px #228dff, 0 0 50px #228dff, 0 0 75px #228dff;
    }
  }
  
  @keyframes neon3 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ffdd1b,
        0 0 70px #ffdd1b, 0 0 80px #ffdd1b, 0 0 100px #ffdd1b, 0 0 150px #ffdd1b;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ffdd1b,
        0 0 35px #ffdd1b, 0 0 40px #ffdd1b, 0 0 50px #ffdd1b, 0 0 75px #ffdd1b;
    }
  }
  
  @keyframes neon4 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #b6ff00,
        0 0 70px #b6ff00, 0 0 80px #b6ff00, 0 0 100px #b6ff00, 0 0 150px #b6ff00;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #b6ff00,
        0 0 35px #b6ff00, 0 0 40px #b6ff00, 0 0 50px #b6ff00, 0 0 75px #b6ff00;
    }
  }
  
  @keyframes neon5 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff9900,
        0 0 70px #ff9900, 0 0 80px #ff9900, 0 0 100px #ff9900, 0 0 150px #ff9900;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff9900,
        0 0 35px #ff9900, 0 0 40px #ff9900, 0 0 50px #ff9900, 0 0 75px #ff9900;
    }
  }
  
  @keyframes neon6 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de,
        0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de,
        0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
    }
  }
  /*Make stuff responsive*/
  
  @media (max-width: 650px) {
    p {
      font-size: 3.5em;
    }
  }
#btn{
    margin-left: 650px;
    margin-bottom: 150px;
    height: 100px;
    width: 200px;
    cursor:pointer;
	position:relative;
	padding:10px 20px;
	background:pink;
	font-size:28px;
  font-family: 'Ink Free';
  color: #ff1177;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	transition:all 1s;
	&:after,&:before{
		content:" ";
		width:10px;
		height:10px;
		position:absolute;
		border :0px solid #fff;
		transition:all 1s;
		}
	&:after{
		top:-1px;
		left:-1px;
		border-top:5px solid #ff1177;
		border-left:5px solid #ff1177;
	}
	&:before{
		bottom:-1px;
		right:-1px;
		border-bottom:5px solid #ff00de;
		border-right:5px solid #ff00de;
	}
	&:hover{
		border-top-right-radius:0px;
	border-bottom-left-radius:0px;
		&:before,&:after{
			
			width:100%;
			height:100%;
		}
	}
}




  